.rectangle {
    height: 50px;
    width: 1100px;
    background-color: green;
}

.circle {
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
}

.text {
    color: blue;
}